/** CONFIGURACIÓN PREVIA */
/* Fuentes importadas de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Constantes que se utilizarán en todo el documento */
:root {
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 28px;
    --font-size-capitalize: 34px;

    --color-black: #212429;
    --color-white: #ffff;

    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
}

/* Borrado de los estilos predeterminados del navegador */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 100%; /*16px*/
}


/** HEADER */
/* Fijado de la barra de navegación para que se mantenga al hacer scroll */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    padding: var(--space-m);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    font-size: var(--font-size-m);
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* Las opciones y secciones de la barra de navegación se encuentran ocultas en el tamaño actual*/
.navbar-sections li,
.navbar-options {
    display: none;
    list-style: none;
}

/* Borrado de los estilos predeterminados de los links */
.navbar-sections ul li a {
    text-decoration: none;
    color: #212429;
}

/* Decoraciones extras de funcionalidad */
.navbar-sections li a:hover {
    font-weight: bold;
}



/** BODY PAGE **/
.titulo {
    padding: 80px var(--space-l) var(--space-l) var(--space-l);
    font-size: var(--font-size-l);
}

/* Tamaño de la primera letra del titulo aumentado */
.titulo::first-letter {
    font-size: var(--font-size-capitalize);
}


/* Sección con display flex para centrar el contenedor de las tarjetas */
.seccion-tarjetas {
    margin-bottom: var(--space-m);
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Contenedor con display grid para ordenar los artículos según el ancho de pantalla */
.tarjetas-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
}

.tarjetas-container article {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.foto-tarjeta img {
    border-radius: 10px;
}

.descripcion-tarjeta {
    display: flex;
    justify-content: space-between;
}

.descripcion-tarjeta p {
    margin: 15px 10px 15px 10px;
    font-size: var(--font-size-s);
}

.precio-articulo {
    font-weight: bold;
}


/* Decoraciones extras de funcionalidad */
.tarjetas-container article:hover {
    cursor: pointer;
    transform: scale(1.05);
}



/** FOOTER */
footer {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-s);
}

.footer-container {
    padding: var(--space-s) var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}


.elementos-footer {
    padding: var(--space-m) 0px var(--space-m) 0px;
    display: flex;
    align-items: center;
    gap: var(--space-m);
    border-bottom: 1px solid var(--color-white);
}

.icon-circle {
    width: 40px;
    height: 40px;
    padding: var(--space-s);
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 50%;
    font-weight: bold;
}


/* Decoraciones extras de funcionalidad */
.elementos-footer>p:hover {
    font-weight: bold;
    cursor: pointer;
}